.card-background-page{
  ion-card{
    position: relative;
    text-align: center;
  }

  .card-title{
    position: absolute;
    top: 12%;
    font-size: 2.5em;
    width: 100%;
    font-weight: bold;
    color: white;
  }
  .card-subtitle{
    position: absolute;
    top: 45%;
    font-size: 3em;
    width: 100%;
    color: white;
  }
  .card-add-to-card{
    position: absolute;
    top: 80%;

  }
}